<h1 class="center">About Us</h1>
<h1 class="center">Coming Soon</h1>
<% provide :title do %>About Us<%end%>
<% provide :desc do %>
Wanna know why developer tools was created if so you have come to the write place.
<%end%>