<h1 class="center">Contact Us</h1>
<div class="jumbotron"><div class='blueText'><strong>Contacting Us</strong></div><br /><div class='innerText'>Dont be a stranger.I love talking about any thing.Feel free to ping me at any time<br><br></div>
<div class='innerText'>Divakar Manoj</div>
<div class='innerText'>A-73,5th Street,</div>Chennai, Tamin Nadu 636001, 
<div class='innerText'>India.</div>
<div class='innerText'>spiderstudio.in@gmail.com</div>
<style>
button{
margin:10px
}
</style>
<a href="https://www.facebook.com/Developertool.biz" target="_blank" rel="nofollow"><button class="btn btn-primary">FaceBook</button></a><a href="https://twitter.com/Divakarmanoj123" target="_blank" rel="nofollow"><button class="btn btn-success">Twitter</button></a><a href="https://plus.google.com/+manojprithvee" target="_blank" rel="nofollow"><button class="btn btn-danger">Google +</button></a>

</div>
<% provide :title do %>Contact Us<%end%>