 <h3 class="text-center">Tool list</h3>
      <ul class="list-group ">
			<a href="count.html"><li class="list-group-item">1. Word Count </li></a>
      <a href="diff.html"><li class="list-group-item">2. Differ Text </li></a>
      <a href="password_gen.html"><li class="list-group-item">3. Password Generator </li></a>
      <a href="hash.html"><li class="list-group-item">4. Hash Generator </li></a>
      <a href="base64encode.html"><li class="list-group-item">5. Base64 Encode / Base64 Decode</li></a>
      <a href="urlencode.html"><li class="list-group-item">6.Url Encode / Url Decode</li></a>
      <a href="ipaddress.html"><li class="list-group-item">7. Whats My Ip?</li></a>
      <a href="find.html"><li class="list-group-item">8. String Search</li></a>
      <a href="pretty.html"><li class="list-group-item">9. Code Formatter</li></a>
	     </ul>
      <div class="text-center">
      <div class=" ads7290">
			</div>
      <div>
      <% provide :recss do %>
<% stylesheet_link_tag "index"%>
<%end%>
<% provide :title do %>
Home
<%end%>
<% provide :desc do %>
Provider useful tools for Developers.
<%end%>
