<h1 class="center">Whats My Ip?</h1>
          <div class="col-md-offset-1 col-md-10"><div class="form-group">
           <div id = "output" class="alert alert-warning center"><%=request.remote_ip%></div>
           
</div>

<% provide :title do %>
Whats My IP?
<%end%>


       