<h1 class="center">Whats My Ip?</h1>
          <div class="col-md-offset-1 col-md-10"><div class="form-group">
           <div id = "output"></div>
           <div class="jumbotron"><h3>About Hash Generator</h3
</div>
</div>

<% provide :rejs do %>
<% javascript_include_tag "ip"%>
<%end%>
<% provide :title do %>
Whats My IP?
<%end%>


       