<h1 class="center">Random Password Generator</h1>
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group col-md-4">
            <label for="length" >length</label>
            <input type="number" class="form-control" id="length" value="8"/>
  </div>
  <div class="form-group col-md-12">
            <input type="text" class="form-control" id="password" placeholder="Password"/>
  </div>
  <div class="form-group col-md-12">
            <buttom class="btn btn-primary" id="butt" >Generate</buttom>
  </div>
  </div>
  <div class="col-md-offset-1 col-md-10"> 
  <div class="jumbotron"><h3>About Random Password Generator</h3
           <p>Random Password Generator is a online tool which <emp>generate random string</emp> and words of a specific length which is given to password Generator by the user.Password Creator is one of its kind mixing alphanumric and symbols together to form words.Password Maker is useful for user who want to <emp>create password <emp>which are very secure which helps protect from hacking.It is estimated that 90% of the time the hacker gets hold of the users account because of a weak password this can be stoped by Random Password Generator.it is also called password generator.
</p></div>
  <div class="jumbotron">

  <h3 class="title">The Importance of Using Strong Passwords</h3>
<p>The use of strong passwords can slow or often defeat the various attack methods of compromising a terminal’s security.</p>

<p>Although many alternatives for user authentication are available today, most users log on to their computer and on to remote computers using a combination of their user name and a password typed at their keyboard. Some retailers will configure their Point of Service terminals to auto login on boot. Some retailers will allow the user to select their own password. To make it easier to remember their passwords, users often use the same or similar passwords on each system; and given a choice, most users will select a very simple and easy-to-remember password such as their birthday, their mother's maiden name, or the name of a relative. Short and simple passwords are relatively easy for attackers to determine. Some common methods that attackers use for discovering a victim's password include:

</p><ul>
	<li>Guessing—The attacker attempts to log on using the user's account by repeatedly guessing likely words and phrases such as their children's names, their city of birth, and local sports teams.</li>

	<li>Online Dictionary Attack—The attacker uses an automated program that includes a text file of words. The program repeatedly attempts to log on to the target system using a different word from the text file on each try.</li>

	<li>Offline Dictionary Attack—Similar to the online dictionary attack, the attacker gets a copy of the file where the hashed or encrypted copy of user accounts and passwords are stored and uses an automated program to determine what the password is for each account. This type of attack can be completed very quickly once the attacker has managed to get a copy of the password file.</li>

	<li>Offline Brute Force Attack—This is a variation of the dictionary attacks, but it is designed to determine passwords that may not be included in the text file used in those attacks. Although a brute force attack can be attempted online, due to network bandwidth and latency they are usually undertaken offline using a copy of the target system's password file. In a brute force attack, the attacker uses an automated program that generates hashes or encrypted values for all possible passwords and compares them to the values in the password file.</li>
</ul>

<p>Each of these attack methods can be slowed down significantly or even defeated through the use of strong passwords. Therefore, whenever possible, computer users should use strong passwords for all of their computer accounts. Computers running Windows Embedded for Point of Service (WEPOS) support strong passwords.</p>

<p>Passwords are case-sensitive and may contain as many as 127 characters. A strong password:

</p><ul>
	<li>Does not contain the user name.</li>

	<li>Is at least six characters long.</li>

	<li>Contains characters from three of the following four groups:</li>
</ul>
<style>
td{
padding:10px
}
</style>
<table class="table-striped" border="2">

<tbody><tr><td><strong>Description</strong></td><td><strong>Examples</strong></td></tr>

<tr><td>Lowercase letters</td><td>a, b, c,...</td></tr>

<tr><td>Uppercase letters</td><td>A, B, C,...</td></tr>

<tr><td>Numerals</td><td>0, 1, 2, 3, 4, 5, 6, 7, 8, 9</td></tr>

<tr><td>Symbols (all characters not defined as letters or numerals)</td><td>` ~ ! @ # $ % ^ &amp; * ( ) _ + -={ } | [ ] \ : " ; ' &lt; &gt; ? , . /</td></tr>
</tbody></table>
<p><br><br>
</p><p class="pull-right">Source - <a href="https://msdn.microsoft.com/en-us/library/ms851492(v=winembedded.11).aspx">Microsoft</a></p>
</div>
           
  </div>
          </div>

<% provide :rejs do%>
<%javascript_include_tag "password"%>
<%end%>
<% provide :title do %>
Random Password Generator
<%end%>