<h1 itemprop="name" class="center">String Search</h1></span>
<h1 class="center">Coming Soon</h1>
<% provide :title do %>String Search<%end%>
<% provide :desc do %>
Online tool to search a string with text and Regex.
<%end%>