<% provide :title do %>Word / Characters String Length Calculator
<% end %>

<div class="row">
	<div class="col-md-3 col-xs-12 col-md-push-9">
			<h3>Count</h3>
			<ul class="list-group">
			<li class="list-group-item checkbox"><label><input type="checkbox"  id="ignorecase">Ignore case</label></>
			<li class="list-group-item">Letters:<span class="length pull-right badge"></span></li>
			<li class="list-group-item">Words:<span class="wordlenght badge"></span></li>
			<li class="list-group-item">Unique Words:<span class="uniqwordlenght badge"></span></li>
			<li class="list-group-item">Unique Letters:<span class="uniqlenght badge"></span></li>
			</ul>
	</div>
	<div class="col-md-3 col-md-pull-3 hidden-xs hidden-sm">
		<h3>&nbsp;</h3>
		<div class=" ads3060 ">
			</div>
		</div>
	<div class="col-md-6 col-xs-12 col-md-pull-3 text-center">
		<h3 itemprop="name"> Word / Characters String Length Calculator</h3></span>
		<textarea id="inputDatabaseName" class="form-control" rows="25" autocomplete="off"></textarea>
	</div>
	
	
		<div class="col-md-6 col-md-offset-3 col-sm-8  hidden-xs">
			<div class=" ads7290 ">
			</div>
		</div>
		<div class="col-md-offset-1 col-md-10 hidden-xs hidden-sm"> 
			<br>
  <div class="jumbotron"><h3>About Letter Counter</h3>
           <p>Letter counter is also called by many names <emp>String length counter<emp>, <emp>character counter<emp>, <emp>Letter length Calculator<emp>, <emp>String length calculator<emp>, <emp>string size counter<emp>, <emp>letter size counter<emp>,<emp>letter size counter<emp> etc.Unique Character counter has many usefulness because it can also calculate the number of word in a string , unique characters in a string , Unique word in a string , in the future it will be able to count vowels ,sentence and paragraph. 
</p></div>
          </div>
<% provide :rejs do %>
<% javascript_include_tag "stringcount"%>
<%end%>
<% provide :desc do %>
Useful for calculating letters and words whicj is very useful for children and even others
<%end%>
